<template>
    <div>
        <form enctype="multipart/form-data">
            <!--Label: Course Title, Attributes:course -->
            <div class="form-group">
                <label for="course">Course Title</label>
                <input type="text" class="form-control" id="course" v-model="course"
                       aria-describedby="course-help"
                       :class="[errors.course ? 'is-invalid': '',!errors.course && Object.keys(errors).length > 1 ? 'is-valid': '']"
                       placeholder="Course Title" required>
                <div class="invalid-feedback" v-if="errors.course">
                    {{ errors.course.toString()}}
                </div>
            </div>
            <!--Label: Description, Attributes:description -->
            <div class="form-group">
                <label for="description">Description</label>
                <textarea type="text" class="form-control" id="description" v-model="description"
                          aria-describedby="description-help"
                          :class="[errors.description ? 'is-invalid': '',!errors.description && Object.keys(errors).length > 1 ? 'is-valid': '']"
                          placeholder="Description" required> </textarea>
                <div class="invalid-feedback" v-if="errors.description">
                    {{ errors.description.toString()}}
                </div>
            </div>
            <!--Label: Requirements, Attributes:requirements -->
            <div class="form-group">
                <label for="requirements">Requirements</label>
                <textarea type="text" class="form-control" id="requirements" v-model="requirements"
                          aria-describedby="requirements-help"
                          :class="[errors.requirements ? 'is-invalid': '',!errors.requirements && Object.keys(errors).length > 1 ? 'is-valid': '']"
                          placeholder="Requirements" required> </textarea>
                <div class="invalid-feedback" v-if="errors.requirements">
                    {{ errors.requirements.toString()}}
                </div>
            </div>
            <!--Label: Course Picture, Attributes:coursepicture -->
            <div class="form-group">
                <label for="coursepicture">Course Picture</label>
                <input type="file" class="form-control" id="coursepicture" @change="coursepicture" ref="coursepicture"
                       aria-describedby="coursepicture-help"
                       accept="image/*"
                       :class="[errors.coursepicture ? 'is-invalid': '',!errors.coursepicture && Object.keys(errors).length > 1 ? 'is-valid': '']"
                       placeholder="Course Picture" required>
                <div class="invalid-feedback" v-if="errors.coursepicture">
                    {{ errors.coursepicture.toString()}}
                </div>
            </div>
            <div class="col-md-12">
                <button class="btn btn-primary" type="submit" @click.prevent="storeCourse" :disabled="savingCourse">
                    <i :class="{'fa fa-spin fa-spinner': savingCourse}"></i>
                    Next</button>
            </div>
        </form>
    </div>
</template>

<script>
    import summernote from "summernote/dist/summernote";

    export default {
        name: "create",
        summernote,
        mounted() {
            let Self = this;
            $('#description').summernote({
                callbacks: {
                    onChange: function (contents, $editable) {
                        Self.description = contents;
                    }
                }
            });
            $('#requirements').summernote({
                callbacks: {
                    onChange: function (contents, $editable) {
                        Self.requirements = contents;
                    }
                }
            });
        },
        data() {
            return {
                errors: '',
                course: '',
                description: '',
                requirements: '',
                picture: '',
                file: '',
                savingCourse: false
            }
        },
        methods: {
            storeCourse() {
                this.savingCourse = true;
                let formData = new FormData();
                formData.append("course",this.course);
                formData.append("description",this.description);
                formData.append("requirements",this.requirements);
                formData.append("file",this.file);
                axios.post('/courses', formData).then(resp => {
                    window.location = "/episodes/" + resp.data.id;
                    this.errors = "";
                    this.savingCourse = false;
                }).catch(err => {
                    this.savingCourse = false;
                    this.errors = err.response.data.errors;
                });
            },
            coursepicture() {
                this.file = this.$refs.coursepicture.files[0];
            }
        },
    }
</script>

<style scoped>
    @import "~summernote/dist/summernote-bs4.css";
</style>
