<template>
    <div>
        <form enctype="multipart/form-data">
            <!--Label: Course, Attributes:course -->
            <div class="form-group">
                <label for="course">Course</label>
                <input type="text" class="form-control-plaintext" id="course" readonly disabled
                       aria-describedby="course-help"
                       name="course"
                       :class="[errors.course ? 'is-invalid': '',!errors.course && Object.keys(errors).length > 1 ? 'is-valid': '']"
                       :value="courses.course">
                <div class="invalid-feedback" v-if="errors.course">
                    {{ errors.course.toString()}}
                </div>
            </div>
            <hr>
            <!--Label: Episode Name, Attributes:name -->
            <div class="form-group">
                <label for="name">Episode Name</label>
                <input type="text" class="form-control" id="name" v-model="name"
                       aria-describedby="name-help"
                       :class="[errors.name ? 'is-invalid': '',!errors.name && Object.keys(errors).length > 1 ? 'is-valid': '']"
                       placeholder="Episode Name" required>
                <div class="invalid-feedback" v-if="errors.name">
                    {{ errors.name.toString()}}
                </div>
            </div>
            <!--Label: Upload Video, Attributes:video -->
<!--            <div class="form-group">-->
<!--                <label for="video">Upload Video</label>-->
<!--                <input type="file" class="form-control" id="video" @change="video" ref="videotoupload"-->
<!--                       aria-describedby="video-help"-->
<!--                       :class="[errors.video ? 'is-invalid': '',!errors.video && Object.keys(errors).length > 1 ? 'is-valid': '']"-->
<!--                       placeholder="Upload Video" required>-->
<!--                <div class="invalid-feedback" v-if="errors.video">-->
<!--                    {{ errors.video.toString()}}-->
<!--                </div>-->
<!--            </div>-->
            <vue-dropzone ref="myVueDropzone" id="dropzone" :options="dropzoneOptions"
                          v-on:vdropzone-file-added="sendDropzone"></vue-dropzone>
            <div class="hk-row float-right p-5">
                <button class="btn btn-primary" @click.prevent="storeEpisode" :disabled="savingEpisode">Add Episode

                    <i :class="{'fa fa-spin fa-spinner':savingEpisode}"></i>
                </button>
            </div>
        </form>
    </div>
</template>

<script>
    import vue2Dropzone from 'vue2-dropzone'
    import 'vue2-dropzone/dist/vue2Dropzone.min.css'
    export default {
        name: "create",
        components: {
            vueDropzone: vue2Dropzone
        },
        props: {
            courses: {
            },
        },
        data() {
            return {
                errors: '',
                course: '',
                name: '',
                videoupload: '',
                savingEpisode: false,
                dropzoneOptions: {
                    url: '/none',
                    maxFiles: 1,
                    autoProcessQueue: false,
                    headers: { "X-CSRF-TOKEN": document.head.querySelector('meta[name="csrf-token"]').content }
                }
            }
        },
        methods: {
            sendDropzone(file){
                this.videoupload = file;
            },
            video() {
                // this.videoupload = this.$refs.videotoupload.files[0];
            },
            storeEpisode(){
                this.savingEpisode = true;
                let formData = new FormData();
                formData.append('video', this.videoupload);
                formData.append('name', this.name);
                formData.append('course_id', this.courses.id);
                this.$refs.myVueDropzone.processQueue();
                axios.post('/episodes',formData).then(resp=>{
                    this.$refs.myVueDropzone.removeAllFiles(true);
                    this.savingEpisode = false;
                    this.name = '';
                    this.videoupload = '';
                    this.errors = '';
                }).catch(err=>{
                    this.savingEpisode = false;
                    this.errors = err.response.data.errors;
                });
            }

        },
    }
</script>

<style scoped>

</style>
